*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.box{
    background: grey;
    width:450px;
    height:500px;
    margin:auto;
    text-align: center;
    margin-top: 50px;
    border-radius: 15px;
}

.number-one, .number-two{
    padding: 20px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    outline: none;
    color:Grey;

}

.number-one{
    margin-top: 60px;
}


button{
    padding: 20px;
    margin-top: 30px;
    width: 50%;
    height: 70px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.display{

    font-size: 20px;
    color:white;

}

.display-box{
    display:none;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    max-width: 80%;
    background: lightgray;
    align-content: center;
    border-radius: 5px;
    margin-left: 45px;
}

button:hover{
    background-color: lightgray;
}
button:active{
    background-color: grey;
}